[init]
templatedir = ~/.git_template

[user]
	name = rubert.martin
	email = rubert.pardo@symphonyai.com
[core]
	editor = nvim
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  side-by-side = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
[alias]
	cof = "\\!f() { branch=$(git branch -a | grep -v HEAD | sed \"s/remotes\\/origin\\///\" | sed \"s/^\\* //\" | sed \"s/^  //\" | sort -u | grep -i \"$1\" | fzf --prompt=\"Select branch: \" --height=10); [ -n \"$branch\" ] && git checkout \"$branch\"; }; f"
